<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.crm.cus.CrmCusMapper">
	<!-- 根据用户ID获取组织架构 -->
	<select id="getCusList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.address AS "address",
		a.contact AS "contact",
		a.mobile AS "mobile",
		a.`name` AS "name"
		FROM
		crm_cus_info a
		where
		a.org_id=#{param.orgId,jdbcType=VARCHAR}
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.name,a.address,a.contact,a.mobile) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>
	</select>

</mapper>