<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.mms.info.MmsMapper">
	<!-- 获取列表 -->
	<select id="getInfoList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.user_name AS "userName",
		a.address AS "address",
		a.mobile AS "mobile",
		a.`name` AS "name",
		a.end_time AS "endTime",
		a.`status` AS "status",
		b.`name` as "statusText",
		a.points AS "points",
		c.user_name AS
		"createUser",
		DATE_FORMAT(
		a.create_time,
		"%Y-%m-%d %T"
		) AS
		"createTime"
		FROM
		mms_info a LEFT JOIN
		sys_user c ON a.create_user =
		c.id,
		v_status b
		where a.`status`=b.val
		<if test="param.updateUser!=null and param.updateUser != ''">
			AND a.create_user =
			#{param.updateUser,jdbcType=VARCHAR}
		</if>
		and
		a.org_id=#{param.orgId,jdbcType=VARCHAR}
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.name,a.address,a.user_name) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>
		<if test="param.status!=null and param.status != ''">
			and a.`status`=#{param.status,jdbcType=VARCHAR}
		</if>
	</select>


	<select id="getPointChangeList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.title AS "title",
		a.remark AS "remark",
		b. NAME AS
		"status",
		getUserName (c.create_user) AS "createUser",
		DATE_FORMAT(
		c.create_time,
		"%Y-%m-%d %T"
		) AS "createTime"
		FROM
		mms_points_change a
		LEFT JOIN sys_approval_list c ON a.id = c.bill_id
		AND c.`status` = '0',
		v_status b
		WHERE
		a.`status` = b.val
		AND a.org_id
		=#{param.orgId,jdbcType=VARCHAR}
		AND EXISTS (
		SELECT
		1
		FROM
		sys_approval_list c
		WHERE
		a.id =
		c.bill_id
		AND c.bill_name =
		'MmsPointsChangeDTO'
		AND c.create_user =
		#{param.updateUser,jdbcType=VARCHAR}
		)
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.title,remark) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>
		<if test="param.status!=null and param.status != ''">
			and a.`status`=#{param.status,jdbcType=VARCHAR}
		</if>
		ORDER BY
		c.create_time DESC
	</select>


	<select id="getPointsChangeDetail" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		b.id AS "id",
		b.`name` AS "name",
		b.user_name AS
		"userName",
		a.points AS "points"
		FROM
		mms_points_change_detail a,
		mms_info b
		WHERE
		a.info_id = b.id
		AND a.bill_id
		=#{param.id,jdbcType=VARCHAR}
	</select>

	<select id="getPointsChangeMemberList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.`name` AS "name",
		a.user_name AS
		"userName"
		FROM
		mms_info a
		WHERE
		a.org_id =#{param.orgId,jdbcType=VARCHAR}
		<if test="param.updateUser!=null and param.updateUser != ''">
			AND
			a.create_user =#{param.updateUser,jdbcType=VARCHAR}
		</if>
		AND NOT EXISTS
		(
		SELECT
		1
		FROM
		mms_points_change_detail b
		WHERE
		a.id =
		b.info_id
		AND
		b.bill_id = #{param.id,jdbcType=VARCHAR}
		)
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.user_name,name) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>
	</select>


	<update id="removePointsChangeDetail" parameterType="java.lang.String">
		DELETE
		FROM
		mms_points_change_detail
		WHERE
		EXISTS (
		SELECT
		1
		FROM
		mms_info a
		WHERE
		CONCAT(',', #{param.selectIds,jdbcType=VARCHAR}, ',') LIKE
		CONCAT('%,', a.id,
		',%')
		AND mms_points_change_detail.info_id = a.id
		AND
		mms_points_change_detail.bill_id =#{param.id,jdbcType=VARCHAR})
	</update>

	<update id="savePointsChangeDetail" parameterType="java.lang.String">
		INSERT INTO
		mms_points_change_detail (id, bill_id, info_id, points) SELECT
		UUID(),
		#{param.id,jdbcType=VARCHAR},
		a.id,
		0
		FROM
		mms_info a
		WHERE
		CONCAT(
		',',#{param.selectIds,jdbcType=VARCHAR}, ',') LIKE
		CONCAT('%,', a.id,
		',%')
		AND NOT EXISTS (
		SELECT
		1
		FROM
		mms_points_change_detail b
		WHERE
		a.id =
		b.info_id
		AND b.bill_id = #{param.id,jdbcType=VARCHAR}
		)
		AND a.org_id
		=#{param.orgId,jdbcType=VARCHAR}
	</update>
	<update id="saveMemberPointsChange" parameterType="java.lang.String">
		UPDATE
		mms_info
		SET points = IFNULL(points,0) + (
		SELECT
		points FROM
		mms_points_change_detail b
		WHERE
		b.bill_id =
		#{param.id,jdbcType=VARCHAR}
		AND b.info_id =
		mms_info.id
		)
		WHERE
		EXISTS (
		SELECT
		1 FROM
		mms_points_change_detail b
		WHERE
		b.bill_id =
		#{param.id,jdbcType=VARCHAR}
		AND b.info_id =
		mms_info.id
		);
	</update>

	<select id="getPointsByBillId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT
		ifnull(sum(a.points), 0)
		FROM
		mms_points_change_detail
		a
		WHERE
		a.bill_id
		=#{billId,jdbcType=VARCHAR}
	</select>
</mapper>