<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.sys.auth.AuthMapper">
	<!-- 获取权限定义列表 -->
	<select id="getDefineList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.parent_id AS "parentId",
		a. NAME AS
		"name",
		a.auth_url AS "authUrl",
		a.auth_icon AS "authIcon",
		a.auth_type
		AS "authType",
		a.auth_value AS "authValue",
		a.mg_type AS "mgType"
		FROM
		sys_auth a
		UNION ALL
		SELECT
		0,
		-1,
		'root',
		'',
		'',
		'',
		'',
		''
	</select>
	<!-- 删除权限定义信息 -->
	<update id="deleteDefineData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_auth
		WHERE
		id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>