<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.sys.auth.AuthMapper">
	<!-- 获取权限定义列表 -->
	<select id="getDefineList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.parent_id AS "parentId",
		a. NAME AS
		"name",
		a.auth_url AS "authUrl",
		a.auth_icon AS "authIcon",
		a.auth_type
		AS "authType",
		a.auth_value AS "authValue",
		a.mg_type AS "mgType",
		a.seq
		AS "seq"
		FROM
		sys_auth a
		UNION ALL
		SELECT
		0,
		- 1,
		'root',
		'',
		'',
		'',
		'',
		'',
		'0'
		order by seq
	</select>
	<!-- 删除权限定义信息 -->
	<update id="deleteDefineData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_auth
		where FIND_IN_SET(id, getSysAuthNodeId(#{id,jdbcType=VARCHAR}))
	</update>

	<!-- 获取单据审核记录 -->
	<select id="getBillAuthList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		b.user_name AS "userName",
		b. NAME AS "name",
		c.name AS
		"status",
		DATE_FORMAT(a.create_time,'%Y-%m-%d %T') AS "createTime",
		a.remark AS "remark"
		FROM
		sys_approval_list a,
		sys_user b,
		sys_dic c
		WHERE
		1 = 1
		and c.val=a.`status`
		and c.dic_type='status'
		AND a.bill_id
		=#{param.id,jdbcType=VARCHAR}
		AND a.create_user = b.id
		ORDER BY
		create_time
		DESC
	</select>

	<select id="getUserNamePW" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.pass_word as "passWord",a.id as "id"
		FROM
		sys_user a,
		sys_org b
		WHERE
		a.org_id =
		b.id
		and CONCAT(b.flag, '_',
		a.user_name)=#{userName,jdbcType=VARCHAR}
	</select>

</mapper>