<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.sys.user.UserMapper">
	<!-- 根据用户ID获取组织架构 -->
	<select id="getUserMenu" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.parent_id AS "parentId",
		a. NAME AS
		"name",
		a.auth_url AS "authUrl",
		a.auth_icon AS "authIcon"
		FROM
		sys_auth a
		WHERE
		a.auth_type = '1'
		AND EXISTS (
		SELECT
		1
		FROM
		sys_role_auth b,
		sys_user_role c
		WHERE
		b.role_id = c.role_id
		AND c.user_id =
		#{userId,jdbcType=VARCHAR}
		AND
		FIND_IN_SET(
		a.id,
		getSysAuthParentList
		(b.auth_id)
		)
		)
		ORDER BY
		a.seq
	</select>
	<!-- 获取用户菜单权限 -->
	<select id="getUserMenuFuncs" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.`name` AS "name",
		a.auth_icon AS "authIcon",
		a.auth_value AS "authValue",
		a.auth_url AS "authUrl"
		FROM
		sys_auth a
		WHERE
		a.parent_id =#{id,jdbcType=VARCHAR}
		AND EXISTS (
		SELECT
		1
		FROM
		sys_user_role b,
		sys_role_auth c
		WHERE
		b.role_id = c.role_id
		AND c.auth_id
		= a.id
		AND b.user_id = #{userId,jdbcType=VARCHAR}
		)
		ORDER BY
		a.seq
	</select>
	<!-- 获取用户列表 -->
	<select id="getUserList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.`name` AS "name",
		a.pass_word AS
		"passWord",
		a.mobile AS "mobile",
		a.user_name as "userName",
		a.status as "status",
		b.name as "statusText",
		a.user_type as "userType",
		getUserRole(a.id) as
		"roleName"
		FROM
		sys_user
		a,
		v_status b
		where
		a.status=b.val and
		a.org_id=#{param.orgId,jdbcType=VARCHAR}
		<if test="param.status!=null and param.status != ''">
			and a.status=#{param.status,jdbcType=VARCHAR}
		</if>
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.user_name,a.name,a.mobile) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>

	</select>
	<!-- 删除用户信息 -->
	<update id="deleteUserData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_user
		WHERE
		id =#{id,jdbcType=VARCHAR}
	</update>


	<select id="getUserInfo" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.user_name AS "userName",
		b.`name` AS "orgName",
		b.flag AS "orgFlag"
		FROM
		sys_user a,
		sys_org b
		WHERE
		a.org_id = b.id
		AND
		a.id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="getInfo" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.user_name AS "userName",
		a.pass_word AS "passWord",
		a.`name` AS "name",
		a.mobile AS "mobile",
		a.address AS "address",
		b.`name` AS "status",
		a.points AS "points"
		FROM
		sys_user a,
		v_status b
		WHERE
		a.`status` = b.val
		and a.id = #{id,jdbcType=VARCHAR}
	</select>

</mapper>