<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.mg.org.MgOrgMapper">
	<!-- 获取列表 -->
	<select id="getRegisterOrgList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a.`name` AS "name",
		a.address AS "address",
		a.contact AS "contact",
		a.flag AS "flag",
		a.mobile AS "mobile",
		b.`name` as "status"
		FROM
		mg_org_register a,
		sys_dic b
		WHERE
		1 = 1
		and b.dic_type='status'
		and b.val=a.`status`
		<if test="param.keyword!=null and param.keyword != ''">
			and
			CONCAT(a.name,a.address,a.contact,a.mobile) like
			CONCAT('%',#{param.keyword,jdbcType=VARCHAR},'%')
		</if>
	</select>

</mapper>