<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.market.dao.mapper.sys.org.OrgMapper">
	<!-- 获取机构列表 -->
	<select id="getOrgList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a. NAME AS "name",
		a.flag AS "flag"
		FROM
		sys_org a
	</select>
	<!-- 获取机构权限 -->
	<select id="getOrgAuthList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.auth_id as "authId"
		FROM
		sys_org_auth a
		WHERE
		a.org_id
		= #{orgId,jdbcType=VARCHAR}
	</select>
	<!-- 删除机构权限 -->
	<update id="deleteOrgData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_org_auth
		WHERE
		org_id =#{orgId,jdbcType=VARCHAR};

		DELETE
		FROM
		sys_org
		WHERE
		ID=#{orgId,jdbcType=VARCHAR};
	</update>
	<!-- 保存机构权限 -->
	<update id="saveOrgAuth" parameterType="java.lang.String">
		DELETE
		FROM
		sys_org_auth
		WHERE
		org_id =#{param.orgId,jdbcType=VARCHAR};
		INSERT INTO sys_org_auth
		(id, org_id, auth_id) SELECT
		UUID(),
		#{param.orgId,jdbcType=VARCHAR},
		a.id
		FROM
		sys_auth a
		WHERE
		CONCAT(',',#{param.authIds,jdbcType=VARCHAR},
		',') LIKE CONCAT('%,',
		a.id,
		',%');
	</update>
	<!-- 获取用户部门信息列表 -->
	<select id="getDeptList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a. NAME AS "name",
		'1' as "parentId"
		FROM
		sys_org a
		WHERE
		EXISTS (
		SELECT
		1
		FROM
		sys_user b
		WHERE
		b.id =
		#{userId,jdbcType=VARCHAR}
		AND b.org_id = a.id
		)
		UNION ALL
		SELECT
		a.id AS
		"id",
		a. NAME AS "name",
		a.parent_id AS "parentId"
		FROM
		sys_dept a
		WHERE
		EXISTS (
		SELECT
		1
		FROM
		sys_user b
		WHERE
		b.id = #{userId,jdbcType=VARCHAR}
		AND b.org_id = a.org_id
		)
	</select>
	<!-- 删除部门 -->
	<update id="deleteDeptData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_dept
		where FIND_IN_SET(id,
		getSysDeptNodeId(#{id,jdbcType=VARCHAR}));
		DELETE
		FROM
		sys_role
		WHERE
		dept_id =#{id,jdbcType=VARCHAR};
	</update>
	<!-- 获取部门职务 -->
	<select id="getDeptRoleList" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		a.id AS "id",
		a. NAME AS "name"
		FROM
		sys_role a
		WHERE
		a.dept_id =#{deptId,jdbcType=VARCHAR}
	</select>
	<!-- 删除部门职务 -->
	<update id="deleteDeptRoleData" parameterType="java.lang.String">
		DELETE
		FROM
		sys_role
		WHERE
		id =#{id,jdbcType=VARCHAR}
	</update>

</mapper>